@charset 'utf-8';
/*!
Theme Name: Rebeca Meira - Portfolio
Author: Senso Criativo
Description: Tema desenvolvido por Senso Criativo
Version: 0.1
*/

@import "bower_components/bootstrap/scss/functions";
@import "bower_components/bootstrap/scss/variables";
@import "bower_components/bootstrap/scss/mixins";
@import "bower_components/bootstrap/scss/print";
@import "bower_components/bootstrap/scss/reboot";
@import "bower_components/bootstrap/scss/type";
@import "bower_components/bootstrap/scss/images";
@import "bower_components/bootstrap/scss/code";
@import "bower_components/bootstrap/scss/grid";
@import "bower_components/bootstrap/scss/tables";
@import "bower_components/bootstrap/scss/forms";
@import "bower_components/bootstrap/scss/buttons";
@import "bower_components/bootstrap/scss/transitions";
@import "bower_components/bootstrap/scss/dropdown";
@import "bower_components/bootstrap/scss/button-group";
@import "bower_components/bootstrap/scss/input-group";
@import "bower_components/bootstrap/scss/custom-forms";
@import "bower_components/bootstrap/scss/nav";
@import "bower_components/bootstrap/scss/navbar";
@import "bower_components/bootstrap/scss/card";
@import "bower_components/bootstrap/scss/breadcrumb";
@import "bower_components/bootstrap/scss/pagination";
@import "bower_components/bootstrap/scss/badge";
@import "bower_components/bootstrap/scss/jumbotron";
@import "bower_components/bootstrap/scss/alert";
@import "bower_components/bootstrap/scss/progress";
@import "bower_components/bootstrap/scss/media";
@import "bower_components/bootstrap/scss/list-group";
@import "bower_components/bootstrap/scss/close";
@import "bower_components/bootstrap/scss/modal";
@import "bower_components/bootstrap/scss/tooltip";
@import "bower_components/bootstrap/scss/popover";
@import "bower_components/bootstrap/scss/carousel";
@import "bower_components/bootstrap/scss/utilities";

@import "fonts/font-awesome/scss/variables";
$fa-font-path: "fonts/font-awesome/webfonts";
@import "fonts/font-awesome/scss/animated";
@import "fonts/font-awesome/scss/bordered-pulled";
@import "fonts/font-awesome/scss/core";
@import "fonts/font-awesome/scss/fixed-width";
@import "fonts/font-awesome/scss/icons";
@import "fonts/font-awesome/scss/larger";
@import "fonts/font-awesome/scss/list";
@import "fonts/font-awesome/scss/mixins";
@import "fonts/font-awesome/scss/rotated-flipped";
@import "fonts/font-awesome/scss/screen-reader";
@import "fonts/font-awesome/scss/stacked";
@import "fonts/font-awesome/scss/fa-brands";
@import "fonts/font-awesome/scss/fa-regular";
@import "fonts/font-awesome/scss/fa-solid";
@import "fonts/font-awesome/scss/fontawesome";

// slick carrosel
@import "bower_components/slick-carousel/slick/slick.scss";

@import "fonts/font";

// Variáveis Fonts
$spring: 'Spring is Coming', sans-serif;
$roboto-condensed: 'Roboto Condensed', sans-serif;
$roboto: 'Roboto', sans-serif;

body {
  font-family: $roboto;
}

.btn {
  font-family: $spring;
}

.menu-branco {
  background-color: #fff;
  height: 63px;
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: 3px solid #fff;
  z-index: 99;
  -webkit-box-shadow: 0 0 8px 1px rgba(0,0,0,.5);
  box-shadow: 0 0 8px 1px rgba(0,0,0,.5); 

  @include media-breakpoint-down(xs) {
    height: 41px;
  }

  @include media-breakpoint-only(sm) {
    height: 41px;
  }

  @include media-breakpoint-up(md) {

  }

  .menu-conteudo {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    max-height: 63px;

    @include media-breakpoint-down(xs) {
      height: 38px;
    }
  
    @include media-breakpoint-only(sm) {
      height: 38px;
    }
  
    @include media-breakpoint-up(md) {
  
    }

    .menu-btn {
      flex-grow: 1;
      text-align: left;
      align-self: center;
      margin-top: 10px;

      a {
        color: #000;
        padding: 5px 11px;
        text-decoration: none;

        @include media-breakpoint-down(xs) {
          padding: 4px 6px;
          font-size: 0.8em;
        }
      
        @include media-breakpoint-only(sm) {
          padding: 4px 6px;
          font-size: 0.8em;
        }
      
        @include media-breakpoint-up(md) {
      
        }
      }
    }
    .menu-marca {
      flex-grow: 1;
      text-align: center;
      margin-top: 11px;
    }
    .menu-social {
      flex-grow: 1;
      text-align: right;
      align-self: center;

      .fale {
        display: block;
        line-height: 1em;
        color: #fff;

        @include media-breakpoint-down(xs) {
          display: none;
        }
      
        @include media-breakpoint-only(sm) {
          display: none;
        }
      
        @include media-breakpoint-up(md) {
          
        }
      }
      .redes {
        display: block;
        line-height: 1em;
        color: #fff;

        a {
          color: #e2344f;
          text-decoration: none;

          i {
            padding: 0 6px;
          }
        }

        @include media-breakpoint-down(xs) {
        }
      
        @include media-breakpoint-only(sm) {
        }
      
        @include media-breakpoint-up(md) {
          
        }
      }
    }
  }
}

#superbanner {
  margin-top: 63px;
  position: relative;
  -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,0.3);
  box-shadow: 0 0 3px 1px rgba(0,0,0,0.3);

  @include media-breakpoint-down(xs) {
    margin-top:41px;
  }

  @include media-breakpoint-only(sm) {
    margin-top:41px;
  }

  @include media-breakpoint-up(md) {
    
  }

  .carousel-inner {
    .carousel-item {
      width: 100%;
  
      img {
        width: 100%;
      }
    }
  }

  .carousel-control-prev {
    opacity: 0.8;

    i {
      font-size: 3rem;
    }
    &:hover {
      opacity: 1;
      color: #ffd150;
    }
  }

  .carousel-control-next {
    opacity: 0.8;

    i {
      font-size: 3rem;
    }
    &:hover {
      opacity: 1;
      color: #ffd150;
    }
  }

  .carousel-indicators {
    position: absolute;
    bottom: 0;
    text-align: center;
    margin: 0;

    li {
      color: #424852;
      background-color: transparent !important;
      font-size: 1.5rem;
      height: 25px;
      text-indent: 0;
      text-shadow: 0 0 5px #fff;

      &:before {
        font-family: FontAwesome;
        content: "\f111 "; 
      }
  
      &.active {
        color: #f39200;
        background-color: transparent !important;
        content: "\f111 "; 
        font-weight: 900;
      }
    }
  }
}

.jobs-e-rebeca {
  background-color: #f9f9f9;
  width: 100%;
  padding: 3rem 0;

  .jobs {
    flex-grow: 1;
    flex-basis: 70%;

    @include media-breakpoint-down(xs) {
      flex-basis: 100%;
      text-align: center;
    }

    @include media-breakpoint-only(sm) {
      flex-basis: 100%;
      text-align: center;
    }

    @include media-breakpoint-up(md) {
      
    }

    .blog-container {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      margin-top: 3rem;

      @include media-breakpoint-down(xs) {
        margin-top: 0rem;
      }
  
      @include media-breakpoint-only(sm) {
        margin-top: 0rem;
      }
  
      @include media-breakpoint-up(md) {
        
      }

      .blog-post {
        flex-grow: 1;
        flex-basis: 22%;
        background-color: #fff;
        margin: 0px 1rem 1rem 0;
        text-decoration: none;
        border-radius: 3px;
        box-shadow: 0 0 2px 0px rgba(0,0,0,0.1);
        -webkit-box-shadow: 0 0 2px 0px rgba(0,0,0,0.1);

        &:hover {
          opacity: .7;
        }

        @include media-breakpoint-down(xs) {
          flex-basis: 100%;
          margin: 0 0 10px 0;
          margin-top: 3rem;
        }
    
        @include media-breakpoint-only(sm) {
          flex-basis: 100%;
          margin: 0 0 10px 0;
          margin-top: 3rem;
        }
    
        @include media-breakpoint-up(md) {
          
        }

        .imagem-thumb {
          width: 100%;
          position: relative;

          img {
            width: 100%;
            border-radius: 3px 3px 0px 0px;
          }
        }

        .conteudo-post {
          padding: 1rem .55rem 1rem .55rem;

          h1 {
            margin: 0;
            font-family: $roboto-condensed;
            font-size: 14px;
            color: #2c2c2c;
            text-align: center;
            border-bottom: 1px dotted #ccc;
            padding-bottom: 8px;
            margin-bottom: 8px;
          }

          p {
            font-family: $roboto;
            font-size: 12px;
            color: #9d9d9d;
            text-align: center;
            margin: 0;
          }
        }
      }
    }

    h2 {
      font-family: $spring;
      font-size: 47px;
      color: #000;
      text-align: center;

      small {
        font-family: $roboto-condensed;
        color: #e2344f;
        font-size: 16px;
        font-weight: 300;
        border-bottom: 1px solid;
      }
    }
  }

  .blog-interno {
    flex-grow: 1;
    flex-basis: 100%;

    @include media-breakpoint-down(xs) {
      flex-basis: 100%;
    }

    @include media-breakpoint-only(sm) {
      flex-basis: 100%;
    }

    @include media-breakpoint-up(md) {
      
    }
  }

  .blog-content {
    color: #707171;
    font-size: 16px;
    font-family: $roboto;
    margin-right: 2rem;
    line-height: 2rem;
    background-color: #fff;
    padding: 1rem;
    margin: 60px 0 0 0;

    iframe {
      @extend .embed-responsive-item;
    }

    form {
      label {
        display: block !important;
      }
    }

    @include media-breakpoint-down(xs) {
      margin-right: 0rem;
    }

    @include media-breakpoint-only(sm) {
      margin-right: 0rem;
    }

    @include media-breakpoint-up(md) {
      
    }

    p {
      @include media-breakpoint-down(xs) {
        text-align: center;
      }
  
      @include media-breakpoint-only(sm) {
        text-align: center;
      }
  
      @include media-breakpoint-up(md) {
        
      }
    }

    .size-full {
      max-width: 100%;
      width: 100%;
      height: auto;
    }

    .titulo {
      text-align: center;
      width: 100%;

      h1 {
        font-family: $spring;
        font-size: 48px;
        color: #e2344f;
        text-align: center;
        border-top: 7px dotted #f5b0ba;
        display: inline-block;
        border-bottom: 7px dotted #f5b0ba;
        padding: 20px 0;

        @include media-breakpoint-down(xs) {
          text-align: center;
        }
    
        @include media-breakpoint-only(sm) {
          text-align: center;
        }
    
        @include media-breakpoint-up(md) {
          
        }

        small {
          font-family: $roboto-condensed;
          display: block;
          color: #424852;
          font-size: 16px;
          font-weight: 300;
        }
      }
    }

    .texto {
      width: 100%;
      font-family: Georgia, serif;

      p {
        letter-spacing: .01rem;
        font-weight: 400;
        font-style: normal;
        font-size: 21px;
        line-height: 1.58;
        letter-spacing: -.003em;
        color: #000;
      }
    }

    

    h2 {
      color: #13959f;

      @include media-breakpoint-down(xs) {
        text-align: center;
      }
  
      @include media-breakpoint-only(sm) {
        text-align: center;
      }
  
      @include media-breakpoint-up(md) {
        
      }
    }
  }
  
  .rebeca {
    flex-grow: 1;
    flex-basis: 20%;
    margin-top: 3rem;

    @include media-breakpoint-down(xs) {
      flex-basis: 100%;
      text-align: center;
      padding-top: 2rem;
    }

    @include media-breakpoint-only(sm) {
      flex-basis: 100%;
      text-align: center;
      padding-top: 2rem;
    }

    @include media-breakpoint-up(md) {
      
    }

    .redes-sidebar {
      display: block;
      line-height: 1em;
      color: #fff;
      margin-top: 1rem;
      font-size: 1.2rem;
      text-align: center;

      a {
        color: #e2344f;
        text-decoration: none;

        i {
          padding: 0 6px;
        }
      }

      @include media-breakpoint-down(xs) {
      }
    
      @include media-breakpoint-only(sm) {
      }
    
      @include media-breakpoint-up(md) {
        
      }
    }

    .conteudo-promocoes {
      margin-top: 2.2rem;

      img {
        @extend .img-fluid
      }
    }
    

    h2 {
      font-family: $spring;
      font-size: 47px;
      color: #000;
      text-align: center;

      small {
        font-family: $roboto-condensed;
        color: #e2344f;
        font-size: 16px;
        font-weight: 300;
        width: 100%;
        display: block;
      }
    }

    .textwidget {
      text-align: center;
      font-size: 16px;
      margin-top: 10px;
      color: #646464;
      font-family: $roboto-condensed;
    }
  }
}


.jobs-e-rebeca-interno {
  background-color: #fff;
  width: 100%;
  padding: 3rem 0;

  .blog-interno {
    flex-grow: 1;
    flex-basis: 100%;

    @include media-breakpoint-down(xs) {
      flex-basis: 100%;
    }

    @include media-breakpoint-only(sm) {
      flex-basis: 100%;
    }

    @include media-breakpoint-up(md) {
      
    }
  }

  .blog-content {
    color: #707171;
    font-size: 16px;
    font-family: $roboto;
    margin-right: 2rem;
    line-height: 2rem;
    background-color: #fff;
    padding: 1rem;
    margin: 60px 0 0 0;

    iframe {
      @extend .embed-responsive-item;
    }

    form {
      label {
        display: block !important;
      }
    }

    @include media-breakpoint-down(xs) {
      margin-right: 0rem;
    }

    @include media-breakpoint-only(sm) {
      margin-right: 0rem;
    }

    @include media-breakpoint-up(md) {
      
    }

    p {
      @include media-breakpoint-down(xs) {
        text-align: center;
      }
  
      @include media-breakpoint-only(sm) {
        text-align: center;
      }
  
      @include media-breakpoint-up(md) {
        
      }
    }

    .size-full {
      max-width: 100%;
      width: 100%;
      height: auto;
    }

    .titulo {
      text-align: center;
      width: 100%;
      margin-bottom: 30px;

      h1 {
        font-family: $spring;
        font-size: 48px;
        color: #e2344f;
        text-align: center;
        border-top: 7px dotted #f5b0ba;
        display: inline-block;
        border-bottom: 7px dotted #f5b0ba;
        padding: 20px 0;

        @include media-breakpoint-down(xs) {
          text-align: center;
        }
    
        @include media-breakpoint-only(sm) {
          text-align: center;
        }
    
        @include media-breakpoint-up(md) {
          
        }

        small {
          font-family: $roboto-condensed;
          display: block;
          color: #424852;
          font-size: 16px;
          font-weight: 300;
        }
      }
    }

    .texto {
      width: 100%;
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

      h1 {
        margin: 30px 0;
        color: #000;
      }

      h2 {
        margin: 50px 0;
        font-family: "Spring is Coming",sans-serif;
        font-size: 3em;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        color: #e2344f;
        
        @include media-breakpoint-down(xs) {
          width: 100%;
        }

        @include media-breakpoint-only(sm) {
          width: 100%;       
        }

        @include media-breakpoint-up(md) {}
      }

      p {
        letter-spacing: .01rem;
        font-weight: 400;
        font-style: normal;
        font-size: 21px;
        line-height: 1.58;
        letter-spacing: -.003em;
        color: #000;
        width: 70%;
        margin-left: auto;
        margin-right: auto;

        @include media-breakpoint-down(xs) {
          font-size: 18px;
          line-height: 1.58;
          letter-spacing: -.004em;
          width: 100%;
        }
    
        @include media-breakpoint-only(sm) {
          font-size: 18px;
          line-height: 1.58;
          letter-spacing: -.004em;
          width: 100%;       }
    
        @include media-breakpoint-up(md) {}

        img {
          @extend .img-fluid;
          width: 100%;
          margin: 25px 0;
        }

        a {
          color:#e2344f;
        }

        iframe {
          margin: 30px 0;
        }
      }

      .embed-responsive {
        margin-left: auto;
        margin-right: auto;
        width: 70%;

        @include media-breakpoint-down(xs) {
          width: 100%;
        }
    
        @include media-breakpoint-only(sm) {
          width: 100%;       
        }
    
        @include media-breakpoint-up(md) {}
      }
    }

    h2 {
      color: #13959f;

      @include media-breakpoint-down(xs) {
        text-align: center;
      }
  
      @include media-breakpoint-only(sm) {
        text-align: center;
      }
  
      @include media-breakpoint-up(md) {
        
      }
    }
  }
}

.rodape {
  background-color: #dbdacd;
  width: 100%;
  padding: 3rem 0;

  small {
    display: block;
    text-align: center;
    font-size: 12px;
    padding-top: 1rem;
    
    a {
      color: #e2344f;
    }
  }

  .dados {
    flex-grow: 1;
    flex-basis: 25%;
    color: #fff;
    text-align: center;
    font-size: 14px;

    strong {
      font-family: $spring;
      color: #e2344f;
    }

    @include media-breakpoint-down(xs) {
      flex-basis: 50%;
    }

    @include media-breakpoint-only(sm) {
      flex-basis: 50%;
    }

    @include media-breakpoint-up(md) {
      
    }

    .tel {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          &:before {
            font-family: FontAwesome;
            content: "\f095 ";
            padding-right: 5px;
          }
        }
      }
    }
  }

  .midias {
    width: 100%;
    color: #353535;
    text-align: center;

    .email {
      font-size: 30px;
      a {
        font-family: $spring;
        color: #353535;
        text-decoration: none;
      }
    }

    .social {
      h2 {
        font-family: $spring;
        font-size: 1.5rem;
      }
      a {
        font-size: 26px;
        color: #353535;
        padding: 0 .8rem;
        width: 50px;
        height: 50px;
        text-decoration: none;
      }
    }
  }
}

a, .btn {
  -webkit-transition: all .3ms ease;
  -moz-transition: all .3ms ease;
  -ms-transition: all .3ms ease;
  -o-transition: all .3ms ease;
  transition: all .3ms ease;
}

.slick-slider .slick-list {
  width: 100%;
}




$background-overlay: rgba(0, 0, 0, .6); // background overlay on aside menu is displayed
$background-menu: #fff; // background of aside menu items list
$shadow-menu: rgba(0, 0, 0, .3); // background of aside menu items list

@mixin transition($options: all .3s ease-in) {
  -webkit-transition: $options;
  -moz-transition: $options;
  -ms-transition: $options;
  -o-transition: $options;
  transition: $options;
}

.template-default-side-menu {
  z-index: 999 !important;

  @include transition;
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  z-index: 26;

  .menu-close {
    position: absolute;
    top: 5px;
    right: 5px;
    // color: #fff;
    display: flex;
    align-items: center;
    color: #a53334;
    background-color: #f3f3f3;
    border-radius: 50%;

    span {
      font-size: 12px;
      margin-right: 5px;
    }
  }

  .template-default-side-menu-overlay {
    background: $background-overlay;
    opacity: 1;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    position: fixed;
    content: '';
  }

  &.active {
    display: block;

    .menu-items {
      left: 0;
      -webkit-animation: asideMenuMove .3s linear;
      animation: asideMenuMove .3s linear;
    }

    .template-default-side-menu-overlay {
      opacity: 1;
      -webkit-animation: overlayAnimation .2s linear;
      animation: overlayAnimation .2s linear;
    }
  }

  &.inactive {
    .menu-items {
      left: 100%;
      -webkit-animation: asideMenuMoveOut .3s linear;
      animation: asideMenuMoveOut .3s linear;
    }

    .template-default-side-menu-overlay {
      opacity: 0;
      -webkit-animation: overlayAnimationOut .2s linear;
      animation: overlayAnimationOut .2s linear;
    }
  }

  .menu-items {
    @include transition;
    background: $background-menu;
    width: 320px;
    max-width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: -100%;
    z-index: 1;
    -webkit-box-shadow: 3px 0 6px 0 $shadow-menu;
    box-shadow: 3px 0 6px 0 $shadow-menu;
  }

  .menu-header {
    width: 100%;
    min-height: 160px;
    margin-bottom: 14px;
    background-image: url('img/bg-menu.jpg');
    background-position: center;
    background-size: cover;
    font-family: 'Roboto Light', sans-serif;
    font-size: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
      font-weight: 600;
      font-family: $spring;
      strong {
        color: #faf1f1;
      }
    }

    .btn-info {
      border-radius: 0px;
      border-bottom: 3px solid #b96667;
    }

    h1 {
      // background-color: #fafafa;
      padding: 5px 10px;
      color: #fafafa;
      margin-bottom: 1px;
      font-size: 100%;
      display: inline-block;
      text-transform: uppercase;
      text-align: center;
      font-family: $spring;
      text-shadow: 0 0 6px #000;
      font-size: 2rem;
      font-weight: 400;
    }

    h2 {
      background-color: #b96667;
      color: #d9e1e4;
      display: inline-block;
      padding: 5px;
      font-size: 90%;
      text-transform: uppercase;
      text-align: center;
    }
  }

}

@-webkit-keyframes asideMenuMove {
  from {
    left: -100%;
  }

  to {
    left: 0;
  }
}

@keyframes asideMenuMove {
  from {
    left: -100%;
  }

  to {
    left: 0;
  }
}
@-webkit-keyframes asideMenuMoveOut {
  from {
    left: 0;
  }

  to {
    left: -100%;
  }
}
@keyframes asideMenuMoveOut {
  from {
    left: 0;
  }

  to {
    left: -100%;
  }
}

@-webkit-keyframes overlayAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes overlayAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@-webkit-keyframes overlayAnimationOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
@keyframes overlayAnimationOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

// menu items colors
// $item-color: rgba(144, 104, 64, 0.85);
$item-color: rgb(77, 123, 153);
$item-font-hover-color: #fff;
$item-font-menu-caption-color: #535353;
.menu-items-list {
  padding: 0 36px 14px;
  list-style: none;

  &.slide-left {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-animation: slideMenuLeft .2s ease-in;
    animation: slideMenuLeft .2s ease-in;
  }

  &.slide-right {
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -o-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-animation: slideMenuRight .2s ease-out;
    animation: slideMenuRight .2s ease-out;
  }
  
  li {
    &:last-child {
      a {
        border-bottom: none;
      }
    }
  }

  a {
    display: block;
    color: $item-font-menu-caption-color;
    padding: 4px;
    border-bottom: 1px solid lighten($item-font-menu-caption-color, 40%);
    text-decoration: none;

    &:hover {
      background: $item-color;
      color: $item-font-hover-color;
      border-radius: 4px;
    }

    &.sub-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:hover {
        color: $item-font-hover-color;
      }

      &::after {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f105";
      }
    }

    &.back {
      border-bottom: none;
      font-weight: bold;
      margin-bottom: 5px;

      &:hover {
        color: $item-font-hover-color;
      }

      &::before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f104";
        margin-right: 5px;
      }
    }
  }

  ul {
    list-style: none;
    display: none;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    padding: 0 36px 14px;

    &.active {
      display: block;
    }
  }
}

.menu-caption {
  color: $item-font-menu-caption-color;
  text-transform: uppercase;
  display: block;
  padding: 0 36px;
  font-size: .7em;

  // &:hover {
  //   color: #f3f3f3;
  // }
}

@-webkit-keyframes slideMenuLeft {
  from {
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -o-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }

  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes slideMenuLeft {
  from {
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -o-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }

  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-webkit-keyframes slideMenuRight {
  from {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  to {
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -o-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@keyframes slideMenuRight {
  from {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  to {
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -o-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
}