@charset 'utf-8';
/*!
Theme Name: Atalaia Rações
Author: Senso Criativo & Diego Melo
Description: Tema desenvolvido por Senso Criativo & Diego Melo
Version: 0.1
*/

@import "bower_components/bootstrap/scss/functions";
@import "bower_components/bootstrap/scss/variables";
@import "bower_components/bootstrap/scss/mixins";
@import "bower_components/bootstrap/scss/print";
@import "bower_components/bootstrap/scss/reboot";
@import "bower_components/bootstrap/scss/type";
@import "bower_components/bootstrap/scss/images";
@import "bower_components/bootstrap/scss/code";
@import "bower_components/bootstrap/scss/grid";
@import "bower_components/bootstrap/scss/tables";
@import "bower_components/bootstrap/scss/forms";
@import "bower_components/bootstrap/scss/buttons";
@import "bower_components/bootstrap/scss/transitions";
@import "bower_components/bootstrap/scss/dropdown";
@import "bower_components/bootstrap/scss/button-group";
@import "bower_components/bootstrap/scss/input-group";
@import "bower_components/bootstrap/scss/custom-forms";
@import "bower_components/bootstrap/scss/nav";
@import "bower_components/bootstrap/scss/navbar";
@import "bower_components/bootstrap/scss/card";
@import "bower_components/bootstrap/scss/breadcrumb";
@import "bower_components/bootstrap/scss/pagination";
@import "bower_components/bootstrap/scss/badge";
@import "bower_components/bootstrap/scss/jumbotron";
@import "bower_components/bootstrap/scss/alert";
@import "bower_components/bootstrap/scss/progress";
@import "bower_components/bootstrap/scss/media";
@import "bower_components/bootstrap/scss/list-group";
@import "bower_components/bootstrap/scss/close";
@import "bower_components/bootstrap/scss/modal";
@import "bower_components/bootstrap/scss/tooltip";
@import "bower_components/bootstrap/scss/popover";
@import "bower_components/bootstrap/scss/carousel";
@import "bower_components/bootstrap/scss/utilities";

@import "assets/fonts/font";

// Variáveis Fonts

$quicksand-bold: 'quicksandbold', sans-serif;
$quicksand-medium: 'quicksandmedium', sans-serif;
$comic-serif: 'hvd_comic_serif_proregular', sans-serif;

body {
  font-family: $quicksand-medium;
}

.menu {
  background-color: #0c4e98;
  height: 63px;
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: 3px solid #fff;
  z-index: 99;

  @include media-breakpoint-down(xs) {
    height: 41px;
  }

  @include media-breakpoint-only(sm) {
    height: 41px;
  }

  @include media-breakpoint-up(md) {

  }

  .menu-conteudo {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    max-height: 63px;

    @include media-breakpoint-down(xs) {
      height: 38px;
    }
  
    @include media-breakpoint-only(sm) {
      height: 38px;
    }
  
    @include media-breakpoint-up(md) {
  
    }

    .menu-btn {
      flex-grow: 1;
      text-align: left;
      align-self: center;

      a {
        border-radius: 50px;
        background-color: #fff;
        border: 1px solid #dad6c8;
        color: #0c4e98;
        padding: 5px 11px;
        text-decoration: none;

        @include media-breakpoint-down(xs) {
          padding: 4px 6px;
          font-size: 0.8em;
        }
      
        @include media-breakpoint-only(sm) {
          padding: 4px 6px;
          font-size: 0.8em;
        }
      
        @include media-breakpoint-up(md) {
      
        }
      }
    }
    .menu-marca {
      flex-grow: 1;
      text-align: center;
    }
    .menu-telefone {
      flex-grow: 1;
      text-align: right;
      align-self: center;

      .fale {
        display: block;
        line-height: 1em;
        color: #fff;

        @include media-breakpoint-down(xs) {
          display: none;
        }
      
        @include media-breakpoint-only(sm) {
          display: none;
        }
      
        @include media-breakpoint-up(md) {
          
        }
      }
      .numero {
        display: block;
        line-height: 1em;
        color: #fff;

        @include media-breakpoint-down(xs) {
          span {
            font-size: .8em;
            display: block;
          }
        }
      
        @include media-breakpoint-only(sm) {
          span {
            font-size: .8em;
            display: block;
          }
        }
      
        @include media-breakpoint-up(md) {
          
        }
      }
    }
  }
}

.superbanner {
  width: 100%;
  margin-top:63px;
  border-bottom: 3px solid #0c4e98;
  position: relative;

  @include media-breakpoint-down(xs) {
    margin-top:41px;
  }

  @include media-breakpoint-only(sm) {
    margin-top:41px;
  }

  @include media-breakpoint-up(md) {
    
  }

  .item {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .esquerda {
    font-size: 3em;
    text-shadow: 2px 2px 2px #737373;
    color: #fff;
    width: 50px;
    height: 70px;
    display: inline-block;
    position: absolute;
    top: 40%;
    text-align: center;
  }
  .direita {
    font-size: 3em;
    text-shadow: 2px 2px 2px #737373;
    color: #fff;
    width: 50px;
    height: 70px;
    display: inline-block;
    position: absolute;
    top: 40%;
    right: 0;
    text-align: center;
  }

  .contador-itens {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;

    .item-toggle {
      display: inline-block;
      color: #424852;
      font-size: 1.5em;
      width: 30px;
      height: 30px;
      margin: 0 3px 10px 3px;
      text-shadow: 3px 3px 0px #fff;
  
      &.active {
        color: #f39200;
      }
    }
  }
}

.blog-e-promocoes {
  background-color: #f1f1f1;
  width: 100%;
  padding: 4rem 0;

  .blog {
    flex-grow: 1;
    flex-basis: 70%;

    @include media-breakpoint-down(xs) {
      flex-basis: 100%;
    }

    @include media-breakpoint-only(sm) {
      flex-basis: 100%;
    }

    @include media-breakpoint-up(md) {
      
    }

    .blog-container {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      margin-top: 3rem;

      .blog-post {
        flex-grow: 1;
        flex-basis: 45%;
        background-color: #fff;
        margin: 0px 1.5rem 1.5rem 0;
        text-decoration: none;

        &:hover {
          opacity: .7;
        }

        @include media-breakpoint-down(xs) {
          flex-basis: 100%;
          margin: 0 0 10px 0;
        }
    
        @include media-breakpoint-only(sm) {
          flex-basis: 100%;
          margin: 0 0 10px 0;
        }
    
        @include media-breakpoint-up(md) {
          
        }

        .imagem-thumb {
          width: 100%;
          position: relative;

          img {
            width: 100%;
          }

          .data-container {
            position: absolute;
            bottom: -30px;
            width: 100%;

            .data {
              width: 60px;
              height: 60px;
              text-align: center;
              background: #f39200;
              border-radius: 100%;
              font-family: $comic-serif;
              color: #fff;
              line-height: 1em;
              font-size: 19px;
              padding: 11px;
              left: 40%;
              margin-right: auto;
              margin-left: auto;
  
              small {
                display: block;
              }
            }
          }
        }

        .conteudo-post {
          padding: 3rem 1rem 1rem 1rem;

          h1 {
            margin: 0;
            font-family: $comic-serif;
            font-size: 18px;
            color: #2c2c2c;
            text-align: center;
          }

          p {
            font-family: $quicksand-medium;
            font-size: 14px;
            color: #9d9d9d;
            text-align: center;
          }
        }
      }
    }

    h2 {
      font-family: $comic-serif;
      font-size: 34px;
      color: #13959f;

      small {
        font-family: $quicksand-medium;
        display: block;
        color: #424852;
        font-size: 16px;
        font-weight: 300;
      }
    }
  }

  .blog-interno {
    flex-grow: 1;
    flex-basis: 70%;

    @include media-breakpoint-down(xs) {
      flex-basis: 100%;
    }

    @include media-breakpoint-only(sm) {
      flex-basis: 100%;
    }

    @include media-breakpoint-up(md) {
      
    }
  }

  .blog-content {
    color: #707171;
    font-size: 16px;
    font-family: "quicksandmedium",sans-serif;
    margin-right: 2rem;
    line-height: 2rem;
    background-color: #fff;
    padding: 1rem;

    h1 {
      font-family: $comic-serif;
      font-size: 34px;
      color: #13959f;

      small {
        font-family: $quicksand-medium;
        display: block;
        color: #424852;
        font-size: 16px;
        font-weight: 300;
      }
    }
  }
  
  .promocoes {
    flex-grow: 1;
    flex-basis: 30%;

    @include media-breakpoint-down(xs) {
      flex-basis: 100%;
    }

    @include media-breakpoint-only(sm) {
      flex-basis: 100%;
    }

    @include media-breakpoint-up(md) {
      
    }

    .conteudo-promocoes {
      margin-top: 3rem;

      img {
        @extend .img-fluid
      }
    }
    

    h2 {
      font-family: $comic-serif;
      font-size: 34px;
      color: #13959f;

      small {
        font-family: $quicksand-medium;
        display: block;
        color: #424852;
        font-size: 16px;
        font-weight: 300;
      }
    }
  }
}

.servicos {
  width: 100%;
  background-color: #ffac2f;
  padding: 3rem 0;

  h2 {
    font-size: 62px;
    color: #fff;
    margin: 0;
    font-family: $comic-serif;
    text-align: center;
    width: 100%;

    small {
      font-family: $quicksand-medium;
      display: block;
      font-size: 18px;
      color: #2c2c2c;
    }
  }
  .servicos-item {
    text-align: center;
    flex-grow: 1;
    flex-basis: 25%;
    text-decoration: none;

    &:hover {
      opacity: .7;
    }

    h3 {
      color: #fff;
      font-family: $comic-serif;
      font-size: 24px;
    }

    p {
      color: #2c2c2c;
      font-family: $quicksand-medium;
      font-size: 14px;
    }

    @include media-breakpoint-down(xs) {
      flex-basis: 100%;
      padding: 0 1rem;
    }

    @include media-breakpoint-only(sm) {
      flex-basis: 50%;
    }

    @include media-breakpoint-up(md) {
      
    }
  }
}

.programa-rewards {
  width: 100%;
  padding: 3rem 0;

  .coracao {
    flex-grow: 1;
    flex-basis: 40%;
    text-align: center;

    @include media-breakpoint-down(xs) {
      flex-basis: 100%;
    }

    @include media-breakpoint-only(sm) {
      flex-basis: 100%;
    }

    @include media-breakpoint-up(md) {
      
    }
  }
  .programa-conteudo {
    flex-grow: 1;
    flex-basis: 60%;

    h2 {
      color: #13959f;
      font-family: $comic-serif;
      font-size: 38px;
      text-align: center;
      width: 100%;
    }

    @include media-breakpoint-down(xs) {
      flex-basis: 100%;
    }

    @include media-breakpoint-only(sm) {
      flex-basis: 100%;
    }

    @include media-breakpoint-up(md) {
      
    }

    .passos-container {
      display: flex;
      flex-wrap: wrap;

      .passos {
        flex-grow: 1;
        flex-basis: 33.33%;
        text-align: center;
  
        h3 {
          color: #424852;
          font-family: $comic-serif;
          font-size: 19px;
          width: 100%;
        }
    
        p {
          color: #424852;
          font-family: $quicksand-medium;
          font-size: 14px;
        }

        @include media-breakpoint-down(xs) {
          flex-basis: 100%;
        }
    
        @include media-breakpoint-only(sm) {
          flex-basis: 100%;
        }
    
        @include media-breakpoint-up(md) {
          
        }
      }
    }
    .call-to-action {
      background-color: #13959f;
      color: #fff;
      padding: 1rem 1.1rem;
      border-radius: 100px;
      display: block;
      text-align: center;
      font-size: 18px;
      text-decoration: none;

      &:hover {
        opacity: .7;
      }

      i {
        color: #00f7c6;
        color: 26px;
      }
    }
  }
}

.apoio {
  width: 100%;
  background-color: #f1f1f1;
  padding: 3rem 0;

  h2 {
    font-size: 63px;
    color: #13959f;
    margin: 0;
    font-family: $comic-serif;
    text-align: center;
    width: 100%;

    small {
      font-family: $quicksand-medium;
      display: block;
      font-size: 18px;
      color: #2c2c2c;
    }
  }

  .apoio-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding: 3rem 0;
    position: relative;

    .item {
      flex-grow: 1;
      text-align: center;
    }

    .esquerda {
      font-size: 3em;
      text-shadow: 2px 2px 2px #737373;
      color: #fff;
      width: 50px;
      height: 70px;
      display: inline-block;
      position: absolute;
      top: 40%;
      text-align: center;
    }
    .direita {
      font-size: 3em;
      text-shadow: 2px 2px 2px #737373;
      color: #fff;
      width: 50px;
      height: 70px;
      display: inline-block;
      position: absolute;
      top: 40%;
      right: 0;
      text-align: center;
    }
  }
}

.parceiros {
  width: 100%;
  background-color: #fff;
  padding: 3rem 0;

  h2 {
    font-size: 63px;
    color: #13959f;
    margin: 0;
    font-family: $comic-serif;
    text-align: center;
    width: 100%;

    small {
      font-family: $quicksand-medium;
      display: block;
      font-size: 18px;
      color: #2c2c2c;
    }
  }

  .apoio-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding: 3rem 0;
    position: relative;

    .item {
      flex-grow: 1;
      text-align: center;
    }

    .esquerda {
      font-size: 3em;
      text-shadow: 2px 2px 2px #737373;
      color: #fff;
      width: 50px;
      height: 70px;
      display: inline-block;
      position: absolute;
      top: 40%;
      text-align: center;
    }
    .direita {
      font-size: 3em;
      text-shadow: 2px 2px 2px #737373;
      color: #fff;
      width: 50px;
      height: 70px;
      display: inline-block;
      position: absolute;
      top: 40%;
      right: 0;
      text-align: center;
    }
  }
}

.rodape {
  background-color: #292c33;
  width: 100%;
  padding: 3rem 0;

  small {
    display: block;
    text-align: center;
    font-size: 12px;
    padding-top: 1rem;
    
    a {
      color: #ffac2f;
    }
  }

  .dados {
    flex-grow: 1;
    flex-basis: 25%;
    color: #fff;
    text-align: center;
    font-size: 14px;

    strong {
      font-family: $quicksand-bold;
      color: #ffac2f;
    }

    @include media-breakpoint-down(xs) {
      flex-basis: 50%;
    }

    @include media-breakpoint-only(sm) {
      flex-basis: 50%;
    }

    @include media-breakpoint-up(md) {
      
    }
  }

  .midias {
    width: 100%;
    color: #fff;
    text-align: center;

    .email {
      a {
        color: #fff;
        text-decoration: none;
      }
    }

    .social {

      a {
        font-size: 36px;
        color: #fff;
        padding: 0 .5rem;
        width: 50px;
        height: 50px;
        text-decoration: none;
      }
    }
  }
}

a, .btn {
  -webkit-transition: all .3ms ease;
  -moz-transition: all .3ms ease;
  -ms-transition: all .3ms ease;
  -o-transition: all .3ms ease;
  transition: all .3ms ease;
}