@font-face {
    font-family: 'quicksandbold';
    src: url('assets/fonts/quicksand-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/quicksand-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksandmedium';
    src: url('assets/fonts/quicksand-medium-webfont.woff2') format('woff2'),
         url('assets/fonts/quicksand-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hvd_comic_serif_proregular';
    src: url('assets/fonts/hvd_comic_serif_pro-webfont.woff2') format('woff2'),
         url('assets/fonts/hvd_comic_serif_pro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}